<%= link_to 'Voltar', promotions_path %>

<h1> <%= @promotion.name %> </h1>
    <p> <%= @promotion.description %> </p>
<dl>
    <dt> Desconto em porcentagem </dt>
    <dd> <%= number_to_percentage @promotion.discount_rate, precision: 2, separator: ',' %> </p> </dd>
    <dt> Código </dt>
    <dd> <%= @promotion.code %> </dd>
    <dt> Data de término </dt>
    <dd> <%= @promotion.expiration_date.strftime('%d/%m/%Y') %> </dd>
    <dt> Número de cupons </dt>
    <dd> <%= @promotion.coupon_quantity %> </dd>
</dl>

<% if @promotion.coupons.empty? %>

<%= link_to 'Emitir cupons', generate_coupons_promotion_path(@promotion), method: :post %>

<% else %>
    <h1> Cupons </h1>

    <% @promotion.coupons.each do |coupon| %>
        <dl>
            <dt> Código </dt>
            <dd> <%= coupon.code  %> </dd>
        </dl>
    <% end %>
<% end %>